<html>
    <head>
        <script src="http://d3js.org/d3.v3.min.js"></script>

        <style>
            .container {
                width: 1000px;
                margin: 0 auto;
            }

            text {
                font: 10px sans-serif;
            }

            .axis path,
            .axis line {
                fill: none;
                stroke: #000;
                shape-rendering: crispEdges;
            }

        </style>
    </head>
    <body>
        <div class="container">
            <svg class="chart"></svg>
        </div>

        <script type="text/javascript">
            var data = {{rundata_dump}};

            var chart_height = 600,
                chart_width = 1000;

            var xmargin = 50,
                ymargin = 50;

            var startDate = new Date();
                startDate.setFullYear(startDate.getFullYear() - 1);

            var y = d3.scale.linear()
                .domain([0, 7000])
                .range([chart_height - 2*ymargin, 0]);

            var ynoninv = d3.scale.linear()
                .domain([0, 7000])
                .range([0, chart_height - 2*ymargin]);

            var x = d3.time.scale()
                .domain([startDate, new Date()])
                .range([0, chart_width - 2*xmargin]);

            //var color = d3.scale.threshold()
            var color = d3.scale.linear()
                .domain([5, 6, 9])
                .range(["red", "lightgreen", "green"]);

            var chart = d3.select(".chart")
                  .attr("width", chart_width)
                  .attr("height", chart_height)
                .append("g")
                  .attr("transform", "translate(" + xmargin + ", " + ymargin + ")");

            var bar = chart.selectAll("g")
                  .data(data)
                .enter().append("g")
                  .attr("transform", function(d, i) { return "translate(" + (i*10) + ",0)"; });

            bar.selectAll("rect")
                  .data(function(d) { return d.data; })
                .enter().append("rect")
                  .attr("width", 9)
                  .attr("y", function(d) { return y(d[0]) - ynoninv(d[1]); })
                  .attr("height", function(d) { return ynoninv(d[1]); })
                  .style("fill", function(d) { return color(d[2]); });
                  // .attr("y", function(d) { return chart_height - (2*ymargin) - y(d[0]) - y(d[1]); })
                  // .attr("height", function(d) { return y(d[1]); })
                  // .style("fill", function(d) { return color(d[2]); });

            var yAxis = d3.svg.axis()
                .scale(y)
                .orient("left");

            d3.select("svg").append("g")
                  .attr("class", "y axis")
                  .attr("transform", "translate(40, " + ymargin + ")")
                  .call(yAxis)

        </script>
    </body>
</html>